NODE_URL=https://fullnode.devnet.aptoslabs.com/v1

# Hex-encoded 0x... private key for the payer account
PAYER_PRIVATE_KEY_HEX=ed25519-priv-0x12eaa49bdbe263a3430b187f79b11a6e257c1226826bd6115afa1d3ef4c7e93c

# 0x... address of the payer account
PAYER_ADDRESS=0x89019004bafcc06620c787f2d1be274da2c78005102a3a98b1eef112e242911f

# Address where the module is published (usually same as payer)
MODULE_ADDRESS=0x89019004bafcc06620c787f2d1be274da2c78005102a3a98b1eef112e242911f

# Optional: set to true to enable very permissive CORS for local testing
DEV_PERMISSIVE_CORS=true
